.containercontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f8ff;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

.principal {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px; 
    color: #333;
}

.form-group {
    margin-bottom: 15px; 
    width: 100%;
    max-width: 400px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
    color: #555; 
}

input, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

textarea {
    resize: none; 
    height: 100px; 
}

button {
    background-color: wheat; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: #575757;
}